html {height: 100%;}
body {font-family: Arial, sans-serif; margin: 0; padding: 0; height: 100%; background-color: var(--bs-body-bg);}
h1 {text-align: center; margin:0;}
h3 {text-align: center;}
#basecontainer {height: 90%;}
p {display: inline;}
#container {margin: 0 auto; width: 80%; max-height: 60%; overflow-x: hidden; overflow-y: scroll; }
#mainTable {border-collapse: collapse;}
#mainTable tr {cursor: pointer; transition: .1s;}
#mainTable tr:hover {cursor: pointer; background-color: rgb(238, 236, 236);}
#mainTable tr:active {cursor: pointer; }
#mainTable th {color: white; background-color: #212529; position: sticky; top: 0; }
#detailsPane {margin: 0 auto; width: 80%; height: 40%; overflow: hidden; border: solid 1px black; padding: 10px; border-radius: 10px; }
button#loadMoreButton {margin: 1% auto; display: block; margin-top: 10px; padding: 5px 10px; background-color: rgb(0, 0, 0); color: white; border: none; border-radius: 5px; cursor: pointer;}
button#loadMoreButton:hover {background-color: rgb(59, 59, 59);}
#filterForm {margin: 0 auto; width: 80%; padding: 10px; text-align: center;}
input#eventID, input#timeStart, input#timeEnd {width: auto; display: inline; }
div#eventIDFilter, div#timeFrame {margin: 10px auto;}
.radioLabel {margin: 0 5px; }
.radiolabel input {margin: 0 100px;}

body::-webkit-scrollbar {width: 9px; }
body::-webkit-scrollbar-track { background: #f1f1f1; border-radius: 100px;}
body::-webkit-scrollbar-thumb { background: #888; border-radius: 10px; }
body::-webkit-scrollbar-thumb:hover { background: #555; }

#container::-webkit-scrollbar {width: 9px;  background: #888; border-radius: 10px; }
#container::-webkit-scrollbar-track { background: #f1f1f1; border-radius: 10px;}
#container::-webkit-scrollbar-thumb { background: #888; border-radius: 10px; }
#container::-webkit-scrollbar-thumb:hover { background: #555; }
#noEventsBanner td {text-align: center; padding: 10px; }